body,ul,li{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style:none;
}
ul li a{
    text-decoration:none;
}
.logo{
    height:300px;
    margin:0 auto;
    background: #000;
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: "Calibri";
    line-height: 300px;
    background: url("images/mybg1.jpg") no-repeat center top/cover;
}
.nav{
    height: 40px;
    /*background: #E2C1B3;*/
}
.nav-con{
    width:980px;
    height:40px;
    margin: 0 auto;
}
.nav-con ul li{
    height:40px;
    float:left;
}
.nav-con ul li a{
    height:40px;
    font:20px/40px 微软雅黑;
    color: #555;
    padding:0 20px ;
}
.nav-con ul li a:hover{
    color:#c5bcdd;
}
.main{
    /*background: #E2C1B3;*/
    height: 600px;
}
.myVideo{
    width: 980px;
    height: 560px;
    margin:0px auto;
    text-align: center;
    position: relative;
}
video{
    display: block;
    width: 980px;
    border-radius: 5px;
}
.progress{
    width: 720px;
    height: 20px;
    border-radius:5px;
    position: absolute;
    background: rgba(255,255,255,0.5);
    bottom: 10px;
    left: 100px;
}
.pro{
    width: 50%;
    height: 20px;
    border-radius:5px;
    position: absolute;
    left: 0;
    top:0;
    background: rgb(255,255,255);
}
input{
    width: 40px;
    height: 20px;
    background: #eee;
}
.zt{
    position: absolute;
    left: 46px;
    bottom: 10px;
}
.bf{
    position: absolute;
    left: 2px;
    bottom: 10px;
}
.time{
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: white;
}

